<div class="site-sidebar">

  <div class="wrapper">

    <h2 class="sidebar-heading">{{ site.title }}</h2>

    <div class="sidebar-col-wrapper">


      <!-- ADD MY FACE HERE -->
      <div class="avatar">
        <a href="/">
          <img id="profile_gravatar" class="profile__header__avatar" src="https://avatars0.githubusercontent.com/u/4228704?v=3&s=460" alt="3e5f6b3bef03b763a13b1bebe9c29f06">
        </a>
      </div>
      <ul class="social-media-list" style="padding-left:1em;">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="icon  icon--github">
              <i class="fa fa-github" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        {% endif %} {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon  icon--twitter">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>

          </a>
        </li>
        <li>
          <a href="https://ca.linkedin.com/in/skylerclayne">
            <span class="icon  icon--github">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </span>
          </a>
        </li>

        <!-- Email -->
        <li>
          <a href="mailto:{{ site.email }}">
            <span class="icon  icon--github">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        {% endif %}
        <li>{{ site.title }}</li>
        <li>
          <a></a>
        </li>
      </ul>


      <!-- <p class="text">{{ site.description }}</p> -->


      <nav class="" style="clear:both;">

        <ul class="mobile-nav flexnav" data-breakpoint="800">
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/resume">Resume</a>
          </li>
        </ul>

      <ul class="nav" data-breakpoint="800">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/resume">Resume</a>
        </li>
      </ul>
    </nav>

      <div class="menu-button">&#9776;</div>

      <script>
        $(".flexnav").flexNav({
          'animationSpeed': 250, // default for drop down animation speed
          'transitionOpacity': true, // default for opacity animation
          'buttonSelector': '.menu-button', // default menu button class name
          'hoverIntent': false, // Change to true for use with hoverIntent plugin
          'hoverIntentTimeout': 150, // hoverIntent default timeout
          'calcItemWidths': false, // dynamically calcs top level nav item widths
          'hover': true // would you like hover support?
        });
      </script>

      <div class="clearfix"></div>

    </div>

  </div>

</div>
